{% extends "base.html" %}

{% block title %} Task List  {% endblock title %}


{% block content %}

    <form action="{% url 'tasks:task-list-filter' %}" method="get">
        <label for="status" >Status:</label>
        <select name="status" id="">
            <option value="True">Completed</option>
            <option value="False">Incomplete</option>
        </select> 
        <label for="priority" >Priority:</label>
        <select name="priority" id="">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select> 

        <button type="submit">Filter</button>
    </form>
    
   <br><br><br>

    <form action="{% url 'tasks:task-search' %}" method="get">

        <input type="text" name="title" id="" placeholder="Title" required>
        <button type="submit">Search</button>
    </form>

    <hr><hr>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}


    {% for task in user_task_list %}
       <h2>{{ task.title }}</h2> 
        {{ task.description|truncatewords:"10" }} <a href="{% url 'tasks:task-details' task.id %}" > Read More  </a><br>
        <hr>
        {% empty %}
           <h2> No tasks available. </h2>
    {% endfor %}

{% endblock content %}
